<div class='chuhe-alarm-container'>
    <div class='chuhe-alarm-title'>
        <div class="chuhe-alarm-name">报警列表</div>
        
        <div class="chuhe-alarmCondition-select">
            <div class="form">
                <span class="chuhe-select-alarm-type">
                    <span class="chuhe-type-name">报警类型：</span>
                    <a class="chuhe-titleName dropdown-button btn" data-activates='alarmType'>全部</a>
                    <ul id="alarmType" class='dropdown-content'>
                        <li value="0" selected="selected"><b>全部</b></li>
                        <li value="1">数值报警</li>
                        <li value="2">传感器报警</li>
                    </ul>
                </span>
                <span class="chuhe-select-alarm-level">
                    <span class="chuhe-type-name">报警级别：</span>
                    <a class="chuhe-titleName dropdown-button btn" data-activates='alarmLevel'>全部</a>
                    <ul id="alarmLevel" class='dropdown-content'>
                        <li value="0" selected="selected"><b>全部</b></li>
                        <li value="1">一级告警</li>
                        <li value="2">二级告警</li>
                        <li value="3">三级告警</li>
                    </ul>
                </span>

                <span class="chehe-select-time">
                    <span class="chuhe-titleName">时间范围:</span>
                    <input type="text" id="beginTime" value="2016/11/01 08:00">
                    <span class="chuhe-time">至:</span>
                    <input type="text" id="endTime" value="2016/11/10 08:00">
                </span>

                <span class="chuhe-select-content">
                    <input type="text" placeholder="    搜索关键字">
                    <button class="waves-effect waves-light" id="searchBtn"><i class="mdi-action-search"></i></button>

                </span>
            </div>
        </div>

    </div>
    <div class="chuhe-alarm-table">
        <table>
            <thead>
                <tr>
                    <th>报警时间</th>
                    <th>报警类型</th>
                    <th>报警级别</th>
                    <th>报警对象</th>
                    <th>对象说明</th>
                    <th>报警值</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>

    <ul class="pagination right">
        <li class="paginate_button chuhe-left"><a href="#!"><i class="mdi-hardware-keyboard-arrow-left"></i></a></li>
        <span></span>
        <li class="paginate_button"><a href="#!"><i class="mdi-hardware-keyboard-arrow-right"></i></a></li>
    </ul>
</div>