<div class='chuhe-alarm-container'>
    <div class='chuhe-alarm-title'>
        <div class="chuhe-alarm-name">报警列表</div>
        
        <div class="chuhe-alarmCondition-select">
            <form action="">
                
            </form>
        </div>

    </div>
    <div class="chuhe-alarm-table"></div>

</div>