

.chuhe-alarm-container
{
    height:100%;
    width:100%;
    > .chuhe-alarm-title
    {
        height:20%;
        width: 100%;
        background: #192e46;
        color: white;
        position: relative;

        > .chuhe-alarm-name
        {
            font-size: 30px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }

    > .chuhe-alarm-table
    {
        background: blue;
        width:100%;
        height:80%;
    }
}