<div class='chuhe-fft-container'>
  <div class='chuhe-fft-left'>
      <div class='chuhe-time-select'>
      </div>
      <div class='chuhe-sensor-select'>
        <div id='chuhe-bridge'>
        </div>
      </div>
  </div>
  <div class='chuhe-fft-right'>
      <div class='chuhe-analytics-linechart chuhe-time-linechart'>
          <div class='chuhe-linechart-title'>
            <div class='chuhe-linechart-name'><span>加速度趋势图</span></div>
            <div class='chuhe-linechart-unit'><span>加速度(mm/s&#178)</span></div>
          </div>
          <div class='chuhe-linechart-content'>
          </div>
      </div>
      <div class='chuhe-analytics-linechart chuhe-fft-linechart'>
        <div class='chuhe-linechart-title'>
        </div>
        <div class='chuhe-linechart-content'>
        </div>
      </div>
  </div>
</div>
