@bg: rgb(10, 26, 44);
@expanded: rgb(30, 190, 159);

html {
    background-color: @bg;
    font-family: "Microsoft YaHei", "Arial" !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(3, 13, 25);
}

body {
    background-color: @bg;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#main {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.content {
    height: 100%;
}

.side-nav a {
    color: white;
}

ul.side-nav.leftside-navigation ul.collapsible-accordion {
    background: transparent;
}

.side-nav .collapsible-body {
    background-color: transparent;
}

.chuhe-title {
    font-size: 30px;
    text-align: center;
}

.chuhe-nav-button {
    background-color: transparent;
}

.chuhe-side-nav {
    background-color: rgb(10 ,22, 42);
}

footer.chuhe-page-footer {
    background-color: rgb(3, 13, 25);
}

.chuhe-right {
    position: absolute;
    top: 0;
    right: 0;
}

.chuhe-card-btn {
    color: white;
    margin: 0 10px;
    padding: 0;
    z-index: auto;
    text-transform: none;
}

.chuhe-card {
    overflow: visible;

    .chuhe-card-name {
        margin: 10px;

        > .chuhe-monitor-link {
            color: white;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }

    .card-stats-title {
        background-color: #1d92fc;
    }

    .card-content {
        padding: 0;
    }

    .chuhe-dropown-content {
        max-height: 135px;

        li {
            line-height: 20px;
            height: 20px;

            &.chuhe-sensor-item-selected {
                background-color: gray;
            }

            > a {
                color: white;
                padding: 0 0 0 10px;
            }

            > span {}
        }
    }

    .chuhe-card-compare {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        .chuhe-card-compare-item {
            width: 50%;

            .card-stats-number {
                margin: 0 0 0 10px;
            }

            .chuhe-card-current-number {
                font-size: 32px;
            }

            .chuhe-card-history-number {
                font-size: 20px;
            }

            .chuhe-card-current-label {
                margin-left: 10px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
            }

            .chuhe-card-history-label {
                margin-left: 10px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
            }
        }
    }
}

.chuhe-monitor {
    height: 100%;
    max-height: 135px;

    #chuhe-monitor-dropdown {
        background: rgb(10, 25, 43);

        > li {
            color: white;
            line-height: 32px;
            height: 32px;
            > a {
                color: white;
                padding: 0 0 0 10px;
            }

            &.selected
            {
                background: gray;
            }
        }

    }

    > .chuhe-monitor-nav {
        background: rgb(10, 25, 43);
    }

    > .chuhe-monitor-content {
        position: absolute;
        top: 56px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;

        > .chuhe-monitor-item {
            box-sizing: border-box;
            border: 5px solid transparent;
            position: relative;
        }

        > .chuhe-realtime {
            height: 48%;
            width: 20%;
            > svg
            {
                background: #1c334f;
            }
        }

        > .chuhe-current-stats {
            height: 26%;
            width: 20%;

            > .chuhe-stats-card {
                background-color: rgba(88,127,237,0.3);
            }
        }

        > .chuhe-history-stats {
            width: 20%;
            height: 26%;

            > .chuhe-stats-card {
                background-color: rgba(68,193,148,0.3);
            }
        }

        > .chuhe-3d {
            width: 80%;
            height: 48%;

            > .chuhe-3d-title {
                position: absolute;
                font-size: 24px;
                color: #b9e5ef;
                left: 15px;
                top: 5px;
            }
        }

        > .chuhe-linechart {
            width: 80%;
            height: 52%;

            .chuhe-linechart-legend {
                position: absolute;
                width: 100%;
                display: flex;
                left: 0px;
                top: 0px;
                .chuhe-linechart-item {
                    float: left;
                    height: 24px;
                    line-height: 24px;
                    border: 1px solid white;
                    min-width: 60px;
                    text-align: center;
                    color: #d7d7ff;
                    &:hover
                    {
                      cursor: pointer;
                    }
                    &.selected
                    {
                        background: white;
                        border: white;
                        color: rgb(44, 47, 107);
                    }
                }
                > .chuhe-linechart-interaction
                {
                  width: 50%;
                  margin-top: 10px;
                  > .chuhe-linechart-value-switch {
                    margin: 0px;
                    display: inline-block;
                  }

                  > .chuhe-linechart-time-switch {
                    margin: 0px 0px 0px 30px;
                    display: inline-block;

                  }
                }

                > .chuhe-linechart-title {
                    font-size: 24px;
                    color: #b9e5ef;
                    width: 30%;
                    margin-left: 15px;
                    margin-top: 5px;
                }
            }

            > .chuhe-linechart-content {
                height: 100%;
                width: 100%;

                > canvas {
                    background-color: rgba(122,90,255,0.1);
                }
            }
        }
    }
}

.chuhe-stats-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div.card-title {
        height: 50%;
        font-size: 18px;
        color: white;
        margin-top: 10px;
        margin-left: 15px;
    }

    > div.card-content {
        display: flex;
        height: 50%;

        > div.card-item {
            width: 33.333333%;
            height: 100%;
            color: white;

            > .card-item-name {
                margin-left: 15px;
                font-size: 16px;
            }

            > .card-item-value {
                margin-left: 15px;
                font-size: 18px;
            }

            &.card-avg-item {}

            &.card-min-item {}

            &.card-max-item {}
        }
    }
}
