<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../public/lib/materialize/js/plugins/jquery-2.1.1.min.js"></script>
    <title>Document</title>
</head>
<body>

<form action="/login" method="post">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <button type="submit">提交</button>
    <div class="form-btn">
        <label class="warn"><%= errMsg %></label>
    </div>
</form>
</body>
</html>
