.chuhe-dashboard-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .chuhe-card-container
    {
        display: flex;
        justify-content: space-around;
        .chuhe-card-item
        {
            width: 12%;
        }
    }

    .chuhe-chart-container
    {
        display: flex;
        .chuhe-3d-item
        {
            width: 60%;
            background: gray;
        }

        .chuhe-map-item
        {
            width: 40%;
            height: 300px;
        }
    }

}

.chuhe-deflection-card
{
    background: rgba(29,146,252,0.3);

    .card-stats-title
    {
        background: #1d92fc;
    }
}

.chuhe-shift-card
{
    background: rgba(82,64,219,0.3);

    .card-stats-title
    {
        background: #5240db;
    }
}

.chuhe-perpendicularity-card
{
  background: rgba(43,168,175,0.3);

  .card-stats-title
  {
      background: #1ea8af;
  }
}

.chuhe-strain-card
{
  background: rgba(44,63,117,0.3);

  .card-stats-title
  {
      background: #2c3f75;
  }
}

.chuhe-cable-card
{
  background: rgba(88,127,237,0.3);

  .card-stats-title
  {
      background: #587fed;
  }
}

.chuhe-vibration-card
{
  background: rgba(68,193,148,0.3);

  .card-stats-title
  {
      background: #44c194;
  }
}

.chuhe-load-card
{
  background: rgba(186,80,93,0.3);

  .card-stats-title
  {
      background: #ba505d;
  }
}

.chuhe-corrosion-card
{
  background: rgba(78,105,122,0.3);

  .card-stats-title
  {
      background: #4e697a;
  }
}
