<div class="chuhe-trafficloaday-container">
    <div class="chuhe-dayload-up">
        <div class="chuhe-up-1eft">
            <span class="chuhe-chart-title">日车流量统计</span>
            <div class="chuhe-bar-chart1"></div>
        </div>

        <div class="chuhe-up-right">
            <span class="chuhe-chart-title">日平均小时交通量</span>
            <div class="chuhe-bar-chart2"></div>
        </div>
    </div>

    <div class="chuhe-dayload-down">
        <div class="chuhe-down-1eft">
            <span class="chuhe-chart-title">日平均小时过桥车辆总重统计</span>
            <div class="chuhe-bar-chart3"></div>
        </div>

        <div class="chuhe-down-right">
            <span class="chuhe-chart-title">日平均单台车辆重量分类统计</span>
            <div class="chuhe-bar-chart4"></div>
        </div>
    </div>
</div>