<div class='chuhe-specialEvent-container'>
    <div class='chuhe-specialEvent-title'>
        <div class="chuhe-specialEvent-name">事件列表</div>

        <div class='chuhe-eventCondition-select'>
            <span class="chehe-specialSelect-time">
                <span class="chuhe-special-titleName">时间范围:</span>
                <input type="text" name="begintime" value="" placeholder="    2016-12-01">
                <span class="chuhe-time">至:</span>
                <input type="text" name="endtime" value="" placeholder="    2016-12-15">
            </span>

            <span class="chuhe-specialSelect-content">
                <span class="chuhe-special-titleName">报警内容:</span>
                <input type="text" placeholder="    搜索关键字">
            </span>

            <span class="chuhe-addSpecial">
                <button id="creat-things" class="waves-effect waves-light" type="text"><a href="javascript:void(0);">创建事件</a></button>
            </span>
        </div>
    </div>

    <div class="chuhe-specialEvent-table">
        <table>
            <thead>
            <tr>
                <th>事件时间</th>
                <th>事件名称</th>
                <th>事件类型</th>
                <th>事件详情</th>
                <th>修改</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-11-01 08:00:00 - 2016-11-01 08:00:00</td>
                <td>大风事件1</td>
                <td>大风</td>
                <td>查看详情</td>
                <td>修改</td>
            </tr>
            <tr>
                <td>2016-11-01 08:00:00 - 2016-11-01 08:00:00</td>
                <td>船撞事件1</td>
                <td>船撞</td>
                <td>查看详情</td>
                <td>修改</td>
            </tr>
            <tr>
                <td>2016-11-01 08:00:00 - 2016-11-01 08:00:00</td>
                <td>大风事件1</td>
                <td>大风</td>
                <td>查看详情</td>
                <td>修改</td>
            </tr>
            <tr>
                <td>2016-11-01 08:00:00 - 2016-11-01 08:00:00</td>
                <td>船撞事件1</td>
                <td>船撞</td>
                <td>查看详情</td>
                <td>修改</td>
            </tr>
            </tbody>
        </table>
    </div>

    <form id="chuhe-creat" method="post" action="/insert">
        <div class="chuhe-creat-title">创建事件</div>

        <div class="chuhe-beginTime-select">
            <span class="chuhe-name">开始时间</span>
            <input type="text" name="begintime" value="" placeholder="    2016-12-01">
        </div>

        <div class="chuhe-endTime-select">
            <span class="chuhe-name">结束时间</span>
            <input type="text" name="endtime" value="" placeholder="    2016-12-01"/>
        </div>

        <div class="chuhe-things-creat">
            <span class="chuhe-name">事件名称</span>
            <input type="text" name="creatTings" value="" placeholder=" 大风事件"/>
        </div>

        <div class="chuhe-type-select">
            <lable class="chuhe-name">事件类型</lable>
                <input type="checkbox" name="wind" value="大风"/>大风
                <input type="checkbox" name="earthquake" value="地震"/>地震
                <input type="checkbox" name="shiphit" value="船撞"/>船撞
        </div>

        <button id="chuhe-finish" class="waves-effect waves-light right" type="text">确定</button>
    </form>
</div>