<div class='chuhe-specialEvent-container'>
    <div class='chuhe-specialEvent-title'>
        <div class="chuhe-specialEvent-name">事件列表</div>

        <div class='chuhe-eventCondition-select'>
            <span class="chehe-specialSelect-time">
                <span class="chuhe-special-titleName">时间范围:</span>
                <input type="text" id="beginTime">
                <span class="chuhe-time">至:</span>
                <input type="text" id="endTime">
            </span>

            <span class="chuhe-specialSelect-content">
                <input type="text" id="keyWord" placeholder="    搜索关键字">
                <button class="waves-effect waves-light" id="searchBtn"><i class="mdi-action-search"></i></button>
            </span>

            <span class="chuhe-addSpecial">
                <button id="create-things" class="waves-effect waves-light" type="text"><a href="javascript:void(0);">创建事件</a></button>
            </span>
        </div>
    </div>

    <div class="chuhe-specialEvent-table">
        <table id="data-table-simple" class="responsive-table display" cellspacing="0">
            <thead>
            <tr>
                <th>事件时间</th>
                <th>事件名称</th>
                <th>事件类型</th>
                <th>事件详情</th>
                <th>修改</th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>

    <ul class="pagination right">
        <li class="paginate_button"><a href="#!"><i class="mdi-hardware-keyboard-arrow-left" style="color:white"></i></a></li>
        <span>
            <li class="paginate_button waves-effect active" aria-controls="data-table-simple" data-dt-idx="1">1</li>
        </span>
        <li class="paginate_button"><a href="#!"><i class="mdi-hardware-keyboard-arrow-right" style="color:white"></i></a></li>
    </ul>

</div>

<div id="chuhe-create" action="#">
    <div class="chuhe-create-title">创建事件</div>

    <div class="chuhe-beginTime-select">
        <span class="chuhe-name">开始时间</span>
        <input type="text" id='beginTime2' placeholder="  2016-12-20 08:00">
    </div>

    <div class="chuhe-endTime-select">
        <span class="chuhe-name">结束时间</span>
        <input type="text" id='endTime2' placeholder="  2017-01-10 08:00">
    </div>

    <div class="chuhe-things-create">
        <span class="chuhe-name">事件名称</span>
        <input type="text" name="createTings" id='thingsName' placeholder="  输入特殊事件名称"/>
    </div>

    <div class="chuhe-type-select">
        <lable class="chuhe-name">事件类型</lable>
        <p><input type="checkbox" name="box" value="SPET_001"/>大风</p>
        <p><input type="checkbox" name="box" value="SPET_002"/>地震</p>
        <p><input type="checkbox" name="box" value="SPET_003"/>船撞</p>
    </div>

    <div class="chuhe-form-submint">
        <button id="chuhe-close" class="waves-effect waves-light right">取消</button>
        <button id="chuhe-finish" class="waves-effect waves-light right" type="submit">确定</button>
    </div>
</div>