
 .chuhe-history-container
 {
   height: 100%;
   width: 100%;
   color: white;
   display: flex;
   flex-direction: column;

   > .chuhe-history-up
   {
     flex-basis: 40%;
     flex-grow: 0;
     margin: 10px 10px 5px 10px;
     display: flex;
     flex-direction: row;

     > .chuhe-select
     {
       width: 30%;
       background: #192e46;
       margin-right: 10px;

       > .chuhe-history-title
       {
         font-size: 24px;
         margin-left: 10px;
       }

       > .chuhe-history-time, .chuhe-history-sensors
       {
         font-size: 18px;
         margin-left: 10px;
         margin-top: 5px;
       }

       > .chuhue-historyTime-select
       {
         display: flex;
         flex-direction: row;
         margin-left: 10px;
         margin-top: 10px;

         >input
         {
           width: 40%;
           height: 40px;
           background: #203656;
           margin-bottom: 5px;
         }

         > .chuhe-cortime
         {
           font-size: 18px;
           margin-left: 17px;
           margin-right: 17px;
         }
       }

       > .chuhe-sensors-select
       {
         margin-left: 10px;
         margin-top: 10px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;

         > .chuhe-historyType-select
         {
           background: #203656;
           color: white;
           height: 40px;
           width: 40%;
           margin-top: 0px;
           > .btn-flat
           {
             color: white;
           }
         }

         > .chuhe-historySensors-select
         {
           background: #203656;
           color: white;
           height: 40px;
           width: 40%;
           margin-top: 0px;

           > .btn-flat
           {
             color: white;
           }
         }
       }

       >input#chuhe-history-submit
       {
         margin-right: 25px;
         background: #203656;
         width: 40%;
         height: 40px;
         border: 0px;
         padding: 0px;
       }

     }

     > .chuhe-bridge-3d
     {
       width: 40%;
       background: #192e46;
       margin-right: 10px;
     }

     > .chuhe-history-card
     {
       width: 40%;
       background: #192e46;
     }

   }

   > .chuhe-history-down
   {
     flex-grow: 1;
     background: #192e46;
     margin: 5px 10px 10px 10px;

   }
 }
