<div class="chuhe-traffic-monitor-container">
    <div class="chuhe-monitor-sensor">荷载监测</div>

    <div class="chuhe-data-monitor">
        <div class="chuhe-traffic-up">
            <div class="chuhe-monitor-chart">
                <div class="chuhe-data-statistics">
                    <div class="chuhe-statistics-title">车流量统计</div>

                    <div class="chuhe-same-title">超重车辆数</div>
                    <div class="chuhe-same chuhe-number">50</div>

                    <div class="chuhe-same-title">总车辆数</div>
                    <div class="chuhe-same chuhe-totle">356</div>
                </div>

                <div class="chuhe-pieChart">
                    <div class="chuhe-pie-title">超载比例</div>
                    <div id="chuhe-pie-chart"></div>
                </div>
            </div>

            <div class="chuhe-monitor-table">
                <div class="chuhe-one-load">
                    <div class="chuhe-one-title">一车道</div>

                    <table>
                        <tr class="chuhe-row">
                            <td>一轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>二轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>三轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>四轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>五轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>六轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>七轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>八轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                    </table>
                </div>

                <div class="chuhe-two-load">
                    <div class="chuhe-two-title">二车道</div>

                    <table>
                        <tr class="chuhe-row">
                            <td>一轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>二轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>三轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>四轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>五轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>六轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>七轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                        <tr class="chuhe-row">
                            <td>八轴</td>
                            <td class="chuhe-load">0kg</td>
                            <td class="chuhe-speed">0km/h</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="chuhe-traffic-down">
            <table>
                <thead>
                <tr>
                    <th>监测时间</th>
                    <th>车牌号码</th>
                    <th>车道号</th>
                    <th>是否跨道</th>
                    <th>总重</th>
                    <th>轴数</th>
                    <th>是否超重</th>
                    <th>轴一重</th>
                    <th>轴二重</th>
                    <th>轴三重</th>
                    <th>轴四重</th>
                    <th>轴五重</th>
                    <th>轴六重</th>
                    <th>轴七重</th>
                    <th>轴八重</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>