<div class="chuhe-traffic-monitor-container">
    <div class="chuhe-monitor-sensor">荷载监测</div>

    <div class="chuhe-data-monitor">
        <div class="chuhe-traffic-up">
            <div class="chuhe-monitor-chart">
                <div class="chuhe-data-statistics">
                    <div class="chuhe-statistics-title">今日车流量统计</div>

                    <div class="chuhe-same-title">超重车辆数</div>
                    <div class="chuhe-same chuhe-number">0</div>

                    <div class="chuhe-same-title">总车辆数</div>
                    <div class="chuhe-same chuhe-totle">0</div>
                </div>

                <div class="chuhe-pieChart">
                    <div class="chuhe-pie-title">超载比例</div>
                    <div id="chuhe-pie-chart"></div>
                    <div class="today-value">
                        <span class="flot-value">0</span>
                        <span class="flot-uint">%</span>
                    </div>
                </div>
            </div>

            <div class="chuhe-monitor-table">
                <div class="chuhe-one-load">
                    <div class="chuhe-one-title">一车道</div>
                    <table class="chuhe-monitor-table"></table>
                </div>

                <div class="chuhe-two-load">
                    <div class="chuhe-two-title">二车道</div>
                    <table class="chuhe-monitor-table"></table>
                </div>

                <div class="chuhe-three-load">
                    <div class="chuhe-three-title">三车道</div>
                    <table class="chuhe-monitor-table"></table>
                </div>
            </div>

        </div>

        <div class="chuhe-traffic-down">
            <table>
                <thead>
                <tr>
                    <th>监测时间</th>
                    <th>车牌号码</th>
                    <th>车道号</th>
                    <th>是否跨道</th>
                    <th>总重(kg)</th>
                    <th>轴数</th>
                    <th>总重超限(kg)</th>
                    <th>轴一重(kg)</th>
                    <th>轴二重(kg)</th>
                    <th>轴三重(kg)</th>
                    <th>轴四重(kg)</th>
                    <th>轴五重(kg)</th>
                    <th>轴六重(kg)</th>
                    <th>轴七重(kg)</th>
                    <th>轴八重(kg)</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>