<div class='chuhe-correlation-container'>
  <div class='chuhe-correlation-left'>

      <div class='chuhe-correlation-title'>相关性分析</div>

      <div class="chuhe-condition-select">

           <div class='chuhe-cortime-select'>
                <div class='chuhe-timeSelect-title'>选择时间</div>
                <div class='chuhe-cortime-input'>
                    <input type="text" name="beginTime" placeholder="2016-12-01 11:00:00">
                    <span class='chuhe-cortime'>至:</span>
                    <input type="text" name="endTime" placeholder="2016-12-15 11:00:00">
                </div>
           </div>

           <div class="chuhe-sensor-select">
               <div class='chuhe-sensorSelect-title'>选择传感器</div>

               <form action="">
                   <div class="chuhe-coordinate-select">
                      <span class="chuhe-coordinate-direction">X轴:</span>
                      <select class='chuhe-type-select' name="sensorType" id="">
                          <option value="02">挠度</option>
                          <option value="01">位移</option>
                          <option value="03">垂直度</option>
                          <option value="04">应变</option>
                          <option value="05">索力</option>
                          <option value="06">振动</option>
                          <option value="07">温湿度</option>
                          <option value="08">腐蚀</option>
                          <option value="09">荷载</option>
                      </select>
                       <select name="sensorType" id="">
                           <option value="02">挠度</option>
                           <option value="01">位移</option>
                           <option value="03">垂直度</option>
                           <option value="04">应变</option>
                           <option value="05">索力</option>
                           <option value="06">振动</option>
                           <option value="07">温湿度</option>
                           <option value="08">腐蚀</option>
                           <option value="09">荷载</option>
                       </select>

                   </div>

                   <div class="chuhe-coordinate-select">
                       <span class="chuhe-coordinate-direction">Y轴:</span>
                       <select class='chuhe-type-select' name="sensorType" id="">
                           <option value="02">挠度</option>
                           <option value="01">位移</option>
                           <option value="03">垂直度</option>
                           <option value="04">应变</option>
                           <option value="05">索力</option>
                           <option value="06">振动</option>
                           <option value="07">温湿度</option>
                           <option value="08">腐蚀</option>
                           <option value="09">荷载</option>
                       </select>
                       <select name="sensorType" id="">
                           <option value="02">挠度</option>
                           <option value="01">位移</option>
                           <option value="03">垂直度</option>
                           <option value="04">应变</option>
                           <option value="05">索力</option>
                           <option value="06">振动</option>
                           <option value="07">温湿度</option>
                           <option value="08">腐蚀</option>
                           <option value="09">荷载</option>
                       </select>

                   </div>
                   <input id="chuhe-correlation-submit" class="right" type="submit" name="submited" value="确定">
               </form>

           </div>
      </div>

      <div class='chuhe-bridgeSensor-select'>
        <div id='chuhe-bridge'>
        </div>
      </div>
  </div>
  <div class='chuhe-correlation-right'>
    <div class='chuhe-correlationLine-title'>
      <div class='chuhe-correlationLine-name'><span>相关性分析</span></div>
    </div>
    <div class='chuhe-correlationY-title'>挠度（mm）</div>
    <div class='chuhe-correlationLineChart-contant'></div>
    <div class='chuhe-correlationX-title right'>位移（mm）</div>
  </div>
</div>