<div class='chuhe-correlation-container'>
  <div class='chuhe-correlation-left'>

      <div class='chuhe-correlation-title'>相关性分析</div>

      <div class="chuhe-condition-select">

           <div class='chuhe-cortime-select'>
                <div class='chuhe-timeSelect-title'>选择时间</div>
                <div class='chuhe-cortime-input'>
                    <input id='beginTime' type="text">
                    <span class='chuhe-cortime'>至:</span>
                    <input id='endTime' type="text">
                </div>
           </div>

           <div class="chuhe-sensor-select">
               <div class='chuhe-sensorSelect-title'>选择传感器</div>
               <div class="chuhe-sensorSelect-input">
                   <div class="chuhe-coordinate-select">
                      <span class="chuhe-coordinate-direction">X轴:</span>
                       <span class="chuhe-type-select">
                           <a id='sensor-x-type' class="btn-flat dropdown-button waves-effect waves-light" data-activates='sensorType-x-dropdown' href="#">
                               <%= title %><i class="mdi-navigation-arrow-drop-down right"></i></a>
                           <ul id='sensorType-x-dropdown' class="dropdown-content active chuhe-sensrorDropdown-content">
                           </ul>
                       </span>

                       <span class="chuhe-sensors-select">
                           <a id='sensors-x-select' class="btn-flat dropdown-button waves-effect waves-light" data-activates='sensors-x-dropdown' href="#">
                               <%= title %><i class="mdi-navigation-arrow-drop-down right"></i></a>
                           <ul id='sensors-x-dropdown' class="dropdown-content active chuhe-sensrorsDropdown-content">
                           </ul>
                       </span>

                   </div>

                   <div class="chuhe-coordinate-select">
                       <span class="chuhe-coordinate-direction">Y轴:</span>
                       <span class="chuhe-type-select">
                           <a id='sensor-y-type' class="btn-flat dropdown-button waves-effect waves-light" data-activates='sensorType-y-dropdown' href="#">
                               <%= title %><i class="mdi-navigation-arrow-drop-down right"></i></a>
                           <ul id='sensorType-y-dropdown' class="dropdown-content active chuhe-sensrorDropdown-content">
                           </ul>
                       </span>

                       <span class="chuhe-sensors-select">
                           <a id='sensors-y-select' class="btn-flat dropdown-button waves-effect waves-light" data-activates='sensors-y-dropdown' href="#">
                               <%= title %><i class="mdi-navigation-arrow-drop-down right"></i></a>
                           <ul id='sensors-y-dropdown' class="dropdown-content active chuhe-sensrorsDropdown-content">
                           </ul>
                       </span>
                   </div>
               </div>
               <p ><button id="buttona" value="确定" class="right">确定</button></p>
           </div>
      </div>

      <div class='chuhe-bridgeSensor-select'>
        <div id='chuhe-bridge'></div>
      </div>
  </div>
  <div class='chuhe-correlation-right'>
    <div class='chuhe-correlationLine-title'>
      <div class='chuhe-correlationLine-name'><span>相关性分析</span></div>
    </div>
    <div class='chuhe-correlationY-title'>
        <span class="chuhe-y-name">位移</span>
        <span class="chuhe-y-unit">(mm)</span>
        <span class="chuhe-correlation-R">相关系数R=</span>
        <span class="chuhe-R-number">0</span>
    </div>
    <div class='chuhe-correlationLineChart-contant'></div>
    <div class='chuhe-correlationX-title right'>
        <span class="chuhe-x-name">位移</span>
        <span class="chuhe-x-unit">(mm)</span>
    </div>
  </div>
</div>