<footer class="page-footer chuhe-page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © 2017 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">南京智行信息科技有限公司</a> All rights reserved.</span>
        </div>
    </div>
</footer>
