<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav leftside-navigation chuhe-side-nav">
        <li class="user-details">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="/lib/materialize/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                </div>
                <div class="col col s8 m8 l8">
                    <p class="user-roal">管理员</p>
                </div>
            </div>
        </li>
        <li class="bold"><a href="/dashboard/index.html" class="waves-effect waves-cyan"><i class="mdi-action-home"></i>首页</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-visibility"></i>实时监测</a>
                    <div class="collapsible-body">
                        <ul>
                            <li id='deflection-link'><a href="/monitor/deflection/index.html">挠度</a>
                            </li>
                            <li id='displacement-link'><a href="/monitor/displacement/index.html">位移</a>
                            </li>
                            <li id='crack-link'><a href="/monitor/crack/index.html">裂缝</a>
                            </li>
                            <li id='verticality-link'><a href="/monitor/verticality/index.html">垂直度</a>
                            </li>
                            <li id='strain-link'><a href="/monitor/strain/index.html">应变</a>
                            </li>
                            <li id='cableforce-link'><a href="/monitor/cableforce/index.html">索力</a>
                            </li>
                            <li id='vibration-link'><a href="/monitor/vibration/index.html">振动</a>
                            </li>
                            <li id='temperature and humidity-link'><a href="/monitor/temperature_humidity/index.html">温湿度</a>
                            </li>
                            <li id='corrosion-link'><a href="/monitor/corrosion/index.html">腐蚀</a>
                            </li>
                            <li id='trafficload-link'><a href="/analytics/trafficmonitor/index.html">称重系统</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i>数据分析</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/analytics/correlation/index.html">相关性分析</a>
                            </li>
                            <li><a href="/analytics/fft/index.html">傅立叶变换</a>
                            </li>
                            <li><a href="/analytics/trafficloaday/index.html">交通流量表</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="bold"><a href="/history/index.html" class="waves-effect waves-cyan"><i class="mdi-action-history"></i>历史查询</a>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i>告警</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/statistics/alarm/index.html">告警列表</a>
                            </li>
                            <li><a href="/analytics/alarmanalytic/index.html">告警分析</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="bold"><a href="/statistics/specialevent/index.html" class="waves-effect waves-cyan"><i class="mdi-action-assignment"></i>事件查询</a>
        </li>

        <li class="bold"><a href="http://localhost:3000/login" class="waves-effect waves-cyan"><i class="mdi-action-exit-to-app"></i>注销</a>
        </li>

    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light chuhe-nav-button"><i class="mdi-navigation-menu"></i></a>
</aside>
