<div class='chuhe-legend'>
  <ul class='chuhe-legend-classify'>
    <li class='chuhe-legend-item level-1'><span>一类桥</span></li>
    <li class='chuhe-legend-item level-2 selected'><span>二类桥</span></li>
    <li class='chuhe-legend-item level-3'><span>三类桥</span></li>
    <li class='chuhe-legend-item level-4'><span>四类桥</span></li>
    <li class='chuhe-legend-item level-5'><span>五类桥</span></li>
  </ul>
  <div class='chuhe-legend-content'>
    <span class='chuhe-legend-field'>健康状况</span>
    <span class='chuhe-legend-value level-2'>良好</span>
  </div>
</div>
