<div class='chuhe-stats-card'>
  <div class='card-title'>
    <span><%= title %></span>
    <span class='card-unit'>(<%= unit %>)</span>
  </div>
  <div class='card-content'>
    <div class='card-item card-avg-item'>
      <div class='card-item-name'>
        <span>平均值<span>
      </div>
      <div class='card-item-value'>
        <span>-</span>
      </div>
    </div>
    <div class='card-item card-min-item'>
      <div class='card-item-name'>
        <span>最小值<span>
      </div>
      <div class='card-item-value'>
        <span>-</span>
      </div>
    </div>
    <div class='card-item card-max-item'>
      <div class='card-item-name'>
        <span>最大值<span>
      </div>
      <div class='card-item-value'>
        <span>-</span>
      </div>
    </div>
  </div>
</div>
