<div class='chuhe-alarmStatistics-container'>
    <div class='chuhe-alarmTime-select'>
        <span class='chuhe-selectTime'>选择时间</span>
        <input id='beginTime' type="text" name="beginTime" placeholder="2016-12-01 11:00:00">
        <span class='chuhe-cortime'>至:</span>
        <input id='endTime' type="text" name="endTime" placeholder="2016-12-15 11:00:00">
        <input id="chuhe-alarmAnalytics-submit"  type="submit" name="submited" value="确定">
    </div>

    <div class='chuhe-alarmCharts'>
        <div class="chuhe-single-Sensor">
            <span class="chuhe-chart-name">单个传感器报警统计</span>
            <div id=""></div>
        </div>

        <div class="chuhe-single-type">
            <span class="chuhe-chart-name">传感器类型报警统计</span>
            <div id=""></div>
        </div>

        <div class="chuhe-single-position">
            <span class="chuhe-chart-name">传感器安装报警统计</span>
            <div id=""></div>
        </div>
    </div>
</div>